<footer>
    <div id="footer-container" style="width:100%; align-content: center;">
  
        <div class="footer">
            {% load static %} <img src="{% static 'images/logoja.jpg' %}"alt="" width="150px" height="150px" style="border-radius: 50%;">
        </div>
        <div class="footer">
           <p>Floraley</p>
           <p>+355 43 2222</p>
           <p>floraley@gmail.com</p>
        </div>
  
        <div class="footer">
           <p style="font-family: 'Merriweather', serif;color: rgb(71, 71, 71)"><i class="fa-solid fa-link" style="color: rgb(71, 71, 71)"></i> Useful links</p>
           
        <p><a  style="color: black;" href="{% url 'contact' %}"><i class="fa-solid fa-angle-right" style="color: rgb(71, 71, 71);"></i> Contact us</a></p>
     </div>
        
        <div class="footer">
            <p style="font-family: 'Merriweather', serif;color: rgb(71, 71, 71);"><i class="fa-solid fa-photo-film" style="color: rgb(71, 71, 71);"></i> Social media</p>
            <div id="ikonat">
            <div><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f fa-bounce" style="color: rgb(71, 71, 71);"></i></a></div>
            <div><a href="https://www.instagram.com/"> <i class="fa-brands fa-instagram fa-bounce" style="color: rgb(71, 71, 71);"></i></a></div>
            <div><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in fa-bounce" style="color: rgb(71, 71, 71);"></i></a> </div>
            <div><a href="https://twitter.com/"> <i class="fa-brands fa-twitter fa-bounce" style="color: rgb(71, 71, 71);"></i></a></div>
            </div>
        </div>
  
      </div>
    <div id="line"></div>
   <div id="copyright"><p>Copyright Floraley</p></div>
  </footer> 